<%-include('./partials/head')%>
<body>
	<%-include('./partials/header')%>
	<h1>No tienes los privilegios para ingresar</h1>
	<a href="/">volver al Home!!!</a>
	<%-include('./partials/footer')%>
</body>
</html>